body{
    font-family: 'Gill Sans MT';
    margin: 40px;
}

.container{
    margin-bottom: 20px;
}

input{
    padding: 8px;
    width: 250px;
    border: 1px solid black;
    border-radius: 4px;
}

button{
    background: blueviolet;
    padding: 8px 14px;
    color: white;
    border-radius: 4px;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    background-color: aliceblue;
    padding: 10px;
    margin: 8px 0;
    border-radius:4px ;
    display: flex;
    justify-content: space-between;
}