body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: #f4fff4;
}

h2 {
  color: #2e7d32;
}

input {
  padding: 10px;
  width: 260px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 25px;
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #256428;
}

#msg {
  margin-top: 15px;
  font-weight: bold;
}
